# Table of Contents

{{ range . -}}
  * [Changelog for {{ .Version }}](#changelog-for-opencloud-desktop-{{ .Version | replace "." ""}}-{{ .Date | lower -}})
{{ end -}}
{{ $allVersions := . }}
{{- range $index, $changes := . }}{{ with $changes -}}
# Changelog for OpenCloud Desktop [{{ .Version }}] ({{ .Date }})

The following sections list the changes in OpenCloud Desktop {{ .Version }} relevant to
OpenCloud admins and users.

{{/* creating version compare links */ -}}
{{ $next := add1 $index -}}
{{ if ne (len $allVersions) $next -}}
{{ $previousVersion := (index $allVersions $next).Version -}}
{{ if eq .Version "unreleased" -}}
[{{ .Version }}]: https://github.com/opencloud-eu/desktop/compare/v{{ $previousVersion }}...master
{{- else -}}
[{{ .Version }}]: https://github.com/opencloud-eu/desktop/compare/v{{ $previousVersion }}...v{{ .Version }}
{{- end -}}
{{ end -}}

## Summary
{{ range $entry := .Entries }}{{ with $entry }}
* {{ .Type }} - {{ .Title }}: [#{{ .PrimaryID }}]({{ .PrimaryURL }})
{{- end }}{{ end }}

## Details
{{ range $entry := .Entries }}{{ with $entry }}
* {{ .Type }} - {{ .Title }}: [#{{ .PrimaryID }}]({{ .PrimaryURL }})
{{ range $par := .Paragraphs }}
   {{ wrapIndent $par 80 3 }}
{{ end -}}
{{ range $url := .IssueURLs }}
   {{ $url -}}
{{ end -}}
{{ range $url := .PRURLs }}
   {{ $url -}}
{{ end -}}
{{ range $url := .OtherURLs }}
   {{ $url -}}
{{ end }}
{{ end }}{{ end }}
{{ end }}{{ end -}}




